description = "Robic new layout"
==
<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>{{ this.theme.site_name }} - {{ this.page.title }}</title> <!--Endless.pro - Professional web services-->
        <meta name="description" content="{% if this.page.meta_description %}{{ this.page.meta_description }}{% else %}{{ this.theme.meta_description }}{% endif %}">
        <meta name="keywords" content="{{ this.theme.meta_keywords }}">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="title" content="{% if this.page.meta_title %}{{ this.page.meta_title }}{% else %}{{ this.theme.meta_title }}{% endif %}"
        
		<!-- favicon #TODO ============================================ -->
        <link rel="shortcut icon" type="image/x-icon" href="{{ 'assets/img/logo/logo-square-lg.png'|theme }}">

		<!-- Google Fonts
		============================================ -->
        <link href='https://fonts.googleapis.com/css?family=Neuton:400,800,700,400italic,300,200' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Roboto:400,500,700,300' rel='stylesheet' type='text/css'>

		<!-- Bootstrap CSS
		============================================ -->
        <link rel="stylesheet" href="{{ 'assets/css/bootstrap.min.css'|theme }}">

        <!-- nivo slider CSS
		============================================ -->
		<link rel="stylesheet" href="{{ 'assets/lib/nivo-slider/css/nivo-slider.css'|theme }}" type="text/css" />
		<link rel="stylesheet" href="{{ 'assets/lib/nivo-slider/css/preview.css'|theme }}" type="text/css" media="screen" />

		<!-- Fontawsome CSS
		============================================ -->
        <link rel="stylesheet" href="{{ 'assets/css/font-awesome.min.css'|theme }}">

		<!-- owl.carousel CSS
		============================================ -->
        <link rel="stylesheet" href="{{ 'assets/css/owl.carousel.css'|theme }}">

		<!-- jquery-ui CSS
		============================================ -->
        <link rel="stylesheet" href="{{ 'assets/css/jquery-ui.css'|theme }}">

		<!-- meanmenu CSS
		============================================ -->
        <link rel="stylesheet" href="{{ 'assets/css/meanmenu.min.css'|theme }}">

		<!-- animate CSS
		============================================ -->
        <link rel="stylesheet" href="{{ 'assets/css/animate.css'|theme }}">

		<!-- Slick CSS
		============================================ -->
        <link rel="stylesheet" href="{{ 'assets/css/slick.css'|theme }}">

		<!-- style CSS
		============================================ -->
        <link rel="stylesheet" href="{{ 'assets/css/style.css'|theme }}">

		<!-- responsive CSS
		============================================ -->
        <link rel="stylesheet" href="{{ 'assets/css/responsive.css'|theme }}">

		<!-- modernizr JS
		============================================ -->
        <script src="{{ 'assets/js/vendor/modernizr-2.8.3.min.js'|theme }}"></script>
    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <!--Header Area Start-->
        <header>
            {% partial 'header' %}
        </header>
        <!--End of Header Area-->
        <!--Page Area -->    
            {% page %}
        <!--ENd of Page area-->
        <!--Footer Area Start-->
        <footer class="section-dark-two">
            {% partial 'footer' %}
        </footer>
        <!--End of Footer Area-->

		<!-- jquery
		============================================ -->
        <script src="{{ 'assets/js/vendor/jquery-1.11.3.min.js'|theme }}"></script>

		<!-- bootstrap JS
		============================================ -->
        <script src="{{ 'assets/js/bootstrap.min.js'|theme }}"></script>

        <!-- nivo slider js
		============================================ -->
		<script src="{{ 'assets/lib/nivo-slider/js/jquery.nivo.slider.js'|theme }}" type="text/javascript"></script>
		<script src="{{ 'assets/lib/nivo-slider/home.js'|theme }}" type="text/javascript"></script>

		<!-- wow JS
		============================================ -->
        <script src="{{ 'assets/js/wow.min.js'|theme }}"></script>

		<!-- meanmenu JS
		============================================ -->
        <script src="{{ 'assets/js/jquery.meanmenu.js'|theme }}"></script>

		<!-- owl.carousel JS
		============================================ -->
        <script src="{{ 'assets/js/owl.carousel.min.js'|theme }}"></script>

		<!-- scrollUp JS
		============================================ -->
        <script src="{{ 'assets/js/jquery.scrollUp.min.js'|theme }}"></script>

		<!-- Slick JS
		============================================ -->
        <script src="{{ 'assets/js/slick.min.js'|theme }}"></script>

		<!-- Nav JS
		============================================ -->
        <script src="{{ 'assets/js/jquery.nav.js'|theme }}"></script>

		<!-- plugins JS
		============================================ -->
        <script src="{{ 'assets/js/plugins.js'|theme }}"></script>

		<!-- main JS
		============================================ -->
        <script src="{{ 'assets/js/main.js'|theme }}"></script>
    </body>
</html>