description = "Contact area"
==
<div class="container">
                <div class="row">
                    <div class="col-md-12 text-left">
                        <div class="contact-info-container">
                            <div class="row">
                                <div class="col-md-6 col-xs-12">
                                    <div class="section-title">
                                        <h1>endless.pro <span>Contacts</span></h1>
                                        <p>Please get in touch and tell us more about your needs. Someone will reply within 2 working days</p>
                                        <img src="{{ 'assets/img/icon/title-bg.png'|theme }}" alt="">
                                    </div>
                                    <div class="contact-address">
                                        <ul>
                                            <li><span class="icon-img"><img src="{{ 'assets/img/icon/envelope.png'|theme }}" alt=""></span> <span class="information" id="contact-email-address"></span></li>
                                            <li><span class="icon-img"><img src="{{ 'assets/img/icon/map.png'|theme }}" alt=""></span> <span class="information">Upės 1-oji g. 6, Lyveriai, LT-95498 Klaipėdos r. <br/>Lithuania</span></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-md-6 col-xs-12">
                                    <form data-request="onSend" id="contact-form">
                                        <div class="form-top">
											<div class="form-group col-md-12">
												<input name="name" type="text" class="form-control" placeholder="Name">
											</div>
											<div class="form-group col-md-12">
												<input name="email" type="email" class="form-control" placeholder="Email">
											</div>
                                            <div class="form-group col-md-12">
                                                <label>Project type</label>
                                                <div class="btn-group" role="group" aria-label="Select project type">
                                                    <button type="button" class="btn project-type-button btn-default btn-round">Website</button>
                                                    <button type="button" class="btn project-type-button btn-default">Web app</button>
                                                    <button type="button" class="btn project-type-button btn-default">CRM</button>
                                                    <button type="button" class="btn project-type-button btn-default">Ecommerce</button>
                                                    <button type="button" class="btn project-type-button btn-default btn-round">Custom</button>
                                                </div>
                                                <input type="hidden" id="input-projecttype" name="projecttype" value="null" />
											</div>
											<div class="form-group col-md-12">
												<input name="subject" type="text" class="form-control" placeholder="Subject">
											</div>
											<div class="form-group col-md-12">
												<textarea name="message" class="yourmessage form-control"  placeholder="Message"></textarea>
											</div>
										</div>
										<div class="submit-form form-group col-sm-12">
                                            <button class="button" type="submit"><span>Submit</span></button>
										</div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>