description = "feature area"
==
<div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-8 col-sm-push-2 col-md-push-0 col-xs-12">
                        <div class="feature-text">
                            <h2>endless.pro</h2>
                            <h1>Services</h1>
                            <p>We are dedicated to delivering custom crafted web applications which are fast and scalable, as well as rich, beautiful and crafted to satisfy all your requirements.</p>
                            <h3>We can make:</h3>
                            <ul>
                                <li>Websites</p>
                                    <ul>
                                        <li><small>Brochure</small></li>
                                        <li><small>Portfolio</small></li>
                                        <li><small>Company</small></li>
                                    </ul>
                                </li>
                                <li><br></li>
                                <li>Web apps</p>
                                    <ul>
                                        <li><small>Content Management System</small></li>
                                        <li><small>Customer Relationship Model</small></li>
                                        <li><small>E-commerce application</small></li>
                                        <li><small>Auto-translate</small></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                        <div class="feature-list">
                            <div class="single-feature">
                                <span><i class="fa fa-tv fa-2x fa-fw" aria-hidden="true"></i></span>
                                <div class="single-feature-text">
                                    <h5>Clean Design</h5>
                                    <p>You will get a clean and clear interface<br>
                                    with the most essential information available.</p>
                                </div>
                            </div>
                            <div class="single-feature">
                                <span><i class="fa fa-headphones fa-2x fa-fw" aria-hidden="true"></i></span>
                                <div class="single-feature-text">
                                    <h5>Dedicated Support</h5>
                                    <p>We are always open to your questions to help <br>
                                    with usage and maintenance of your application. </p>
                                </div>
                            </div>
                            <div class="single-feature">
                                <span><i class="fa fa-cogs fa-2x fa-fw" aria-hidden="true"></i></span>
                                <div class="single-feature-text">
                                    <h5>Very Customizable</h5>
                                    <p>Our modular designs are crafted so every bit<br>
                                    has a clearly defined purpose.</p>
                                </div>
                            </div>
                            <div class="single-feature">
                                <span><i class="fa fa-lock fa-2x fa-fw" aria-hidden="true"></i></span>
                                <div class="single-feature-text">
                                    <h5>Secure</h5>
                                    <p>We take data security very seriously <br>
                                    all our projects follow the latest standards.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                        <div class="feature-list">
                            <div class="single-feature">
                                <span>
                                    <span class="fa-stack fa-fw">
                                        <i class="fa fa-tv fa-stack-2x fa-fw"></i>
                                        <i class="fa fa-arrows-h fa-stack-2x fa-fw"></i>
                                    </span>
                                </span>
                                <div class="single-feature-text">
                                    <h5>Responsive</h5>
                                    <p>Most people browse using mobile devices<br>
                                    all our designs are built with that in mind.</p>
                                </div>
                            </div>
                            <div class="single-feature">
                                <span><i class="fa fa-rocket fa-2x fa-fw" aria-hidden="true"></i></span>
                                <div class="single-feature-text">
                                    <h5>Fast</h5>
                                    <p>Your application will perform fast, <br>
                                    performance tuning is our core responsibility. </p>
                                </div>
                            </div>
                            <div class="single-feature">
                                <span><i class="fa fa-file-text-o fa-2x fa-fw" aria-hidden="true"></i></span>
                                <div class="single-feature-text">
                                    <h5>Well documented</h5>
                                    <p>We supply all project documentation containing<br>
                                    all you need to know about your application.</p>
                                </div>
                            </div>
                            <div class="single-feature">
                                <span><i class="fa fa-wheelchair fa-2x fa-fw" aria-hidden="true"></i></span>
                                <div class="single-feature-text">
                                    <h5>Accessible</h5>
                                    <p>We aim to deliver a product that is accessible <br>
                                    to everyone who wants to see or hear about you.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>