description = "robic footer"
==
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="footer-area text-center">
                <p>Copyright © 2016 Teisingas Kodas<br>Theme Copyright © 2016 Power-Boosts. All Rights Reserved</p>
                <div class="social-link">
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-linkedin"></i></a>
                    <a href="#"><i class="fa fa-instagram"></i></a>
                    <a href="#"><i class="fa fa-dribbble"></i></a>
                    <a href="#"><i class="fa fa-instagram"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>