description = "robic-header"
==
<!--Mainmenu Start-->
            <div id="main-menu" class="sticker">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-3 hidden-sm hidden-xs">
                            <div class="logo text-center">
                                <a href="/"><img src="{{ 'assets/img/logo/logo-cropped-transparent.png' |theme }}" alt="Endless.pro" /></a>
                            </div>
                        </div>
                        <div class="col-md-9 hidden-sm hidden-xs">
                            <div class="main-menu floatright">
                                <nav>
                                    <ul>
                                        <li class="active"><a href="#slider">Home</a></li>
                                        <li><a href="#feature">Services</a></li>
                                        <li><a href="#about">About</a></li>
                                        <li><a href="#contact">Contact</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <div class="col-sm-12 hidden-lg hidden-md">
                            <div class="mobile-menu">
                                <nav>
                                    <ul>
                                        <li class="active"><a href="#slider">Home</a></li>
                                        <li><a href="#feature">Services</a></li>
                                        <li><a href="#about">About</a></li>
                                        <li><a href="#contact">Contact</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--End of Mainmenu-->