description = "services area"
==
<div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <div class="section-title">
                            <h1>About <span>endless.pro</span></h1>
                            <p>We are a diverse international team of experts in various fields of web development. We master old reliables and conquer new technologies with aim to deliver the best available app of its time, without compromising safety, security or speed.</p>

                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="single-service text-center">
                            <div class="service-border">
                                <div class="service-icon">
                                    <div class="icon-middle">
                                        <img src="{{ 'assets/img/icon/mobile.png'|theme }}" alt="">
                                    </div>
                                </div>
                                <div class="service-text">
                                    <h4>RESPONSIVE DESIGN</h4>
                                    <p>With over half of users browsing internet on mobile devices it is important to deliver the message to everyone everywhere.</p>
                                </div>
                            </div>
                        </div>
                        <div class="single-service text-center">
                            <div class="service-border">
                                <div class="service-icon">
                                    <div class="icon-middle">
                                        <img src="{{ 'assets/img/icon/file.png'|theme }}" alt="">
                                    </div>
                                </div>
                                <div class="service-text">
                                    <h4>FULLY DOCUMENTED</h4>
                                    <p>Your project will be supplied with full documentation regarding usage, features and maintenance of your project.</p>
                                </div>
                            </div>
                        </div>
                        <div class="single-service text-center">
                            <div class="service-border">
                                <div class="service-icon">
                                    <div class="icon-middle">
                                        <img src="{{ 'assets/img/icon/star.png'|theme }}" alt="">
                                    </div>
                                </div>
                                <div class="service-text">
                                    <h4>MULTIPLE LANGUAGES</h4>
                                    <p>We can make your app available in several languages, internationalization and localization options are built-in by design.</p>
                                </div>
                            </div>
                        </div>
                        <div class="single-service text-center">
                            <div class="service-border">
                                <div class="service-icon">
                                    <div class="icon-middle">
                                        <img src="{{ 'assets/img/icon/pen.png'|theme }}" alt="">
                                    </div>
                                </div>
                                <div class="service-text">
                                    <h4>PROOFREAD</h4>
                                    <p>All content is proofread by multiple people to ensure your website looks professional and all information is accurate.</p>
                                </div>
                            </div>
                        </div>
                        <div class="single-service text-center">
                            <div class="service-border">
                                <div class="service-icon">
                                    <div class="icon-middle">
                                        <img src="{{ 'assets/img/icon/basket.png'|theme }}" alt="">
                                    </div>
                                </div>
                                <div class="service-text">
                                    <h4>MULTIPLATFORM</h4>
                                    <p>Our software is based on web technologies which enables you to use it on any platform, browser or device.</p>
                                </div>
                            </div>
                        </div>
                        <div class="single-service text-center">
                            <div class="service-border">
                                <div class="service-icon">
                                    <div class="icon-middle">
                                        <img src="{{ 'assets/img/icon/document.png'|theme }}" alt="">
                                    </div>
                                </div>
                                <div class="service-text">
                                    <h4>SOURCE CODE</h4>
                                    <p>All the source code files can be made available to you to ensure the quality and security. Subject to agreement.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>