description = "robic-nivo-slider"
==
<img src="{{ 'assets/img/slider/image-slider/4.jpg'|theme }}" alt=""/>
    <div class="banner-content static-text image-text">
        <div class="text-content">
            <div class="col-md-4 col-md-push-4">
                <div class="col-md-8 col-md-push-2">
                    <a href="/"><img class="img-responsive" src="{{ 'assets/img/logo/logo-cropped-transparent.png' |theme }}" alt="Endless.pro" /></a>
                </div>
            </div>
            
            <div class="col-md-12">
                <br>
                <h2 class="title2" ><span>{{ subtitle }}</span></h2>
                    <p class="hidden-sm hidden-xs">We ensure quality &amp; support. We build custom web applications of any complexity.</p>
                    <p class="hidden-sm hidden-xs"></p>
                <div class="banner-button">
                    <a href="#contact">CONTACT US</a>
                </div>
            </div>
        </div>
    </div>