==
<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand" href="{{ 'home'|page }}">
                <h1 class="upper">{{ this.theme.site_name }}</h1>
            </a>
        </div>
        {% if this.page.baseFileName != '404' and  this.page.baseFileName != 'error' and this.page.baseFileName != 'maintenance' %}
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#intro">Home</a></li>
                <li><a href="#about">Apie mūs</a></li>
                <li><a href="#service">Servisai</a></li>
                <li><a href="#contact">Kontaktai</a></li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
        {% endif %}
    </div>
    <!-- /.container -->
</nav>